body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #006064;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
    color: #004d40;
  }
  
  input[type="text"] {
    width: 75%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #004d40;
    border-radius: 4px;
  }
  
  button {
    width: 20%;
    padding: 10px;
    background-color: #00acc1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00838f;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #b2ebf2;
    font-size: 18px;
    transition: 0.2s;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  ul li:nth-child(odd) {
    background: #80deea;
  }
  
  ul li:hover {
    background: #4dd0e1;
  }
  
  ul li.checked {
    background: #0097a7;
    color: #e0f7fa;
    text-decoration: line-through;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px;
    cursor: pointer;
    color: #004d40;
  }
  
  .close:hover {
    background-color: #004d40;
    color: white;
  }
  